version: '3'
services:
  jenkins:
    image: jenkinsci/blueocean
    user: root
    container_name: jenkins
    ports:
     - 8080:8080
     - 5000:5000
    volumes:
     - './data/jenkins:/var/jenkins_home'
     - '/var/run/docker.sock:/var/run/docker.sock'
  sonarqube:
    image: sonarqube:latest
    container_name: sonar-container
    restart: always
    environment:
       - sonar.jdbc.username=admin
       - sonar.jdbc.password=admin
       - sonar.embeddedDatabase.port=9092

    ports:
      - 9000:9000
      - 9092:9092
    volumes:
      - './data/sonar/conf:/conf'
      - './data/sonar/data:/data'
      - './data/sonar/extensions:/extensions'
  

